//Color palettes
$background: #FFB580;
$minor-details: #DC2F02;
$other-details: #E85D04;

//Other colors
$color-black: #000;
$color-white: #FFF;

//Img
$card-img-height: 30vh;

//Font
$font-normal: "Salsa";
$font-title-size: 450%;
$font-title-align: center;

//Border
$card-border: 5px solid #DC2F02;