@import "_variables";
@import "_minixins";

*{
    font-family: $font-normal;
}

h1{
    font-size: $font-title-size;
    text-align: $font-title-align;
}

body{
    margin: 0;
    padding: 0;
    background-color: $background;
}

.btnCart{
    padding: ($standard-distance*2);
}

.btnSendCart, .btnLogout, .btnNavigation{
    background-color: $danger-details;
    margin: $standard-distance;
}

.txtEmptyCart{
    font-size: $font-p-size;
    color: $minor-details;
}

#card{
    margin-top: $standard-distance;
    margin-bottom: $standard-distance;
}

.card{
    border: $card-border;
    height: 100%;

    img{
        height: $card-img-height;
        object-fit: cover;
    }

    a{
        background-color: $minor-details;
        color: $color-white;
        border-radius: ($standard-distance*2);
        border: $disable;
        padding: $standard-distance $standard-distance;
        display: inline-block;
        text-decoration: $disable;
    }
}

.card-body{
    display: flex;
    height: 50%;
    flex-direction: column;
}

ul{
    list-style: $disable;
    padding: 0%;

    li{
        border: $card-border;
        border-radius: $cart-radius;
        margin-bottom: ($standard-distance*2);
        padding: ($standard-distance*2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-wheat;

        img{
            width: 100px;
            height: auto;
            border-radius: $cart-radius;
        }
    }
}

.card-text{
    flex-grow: 1;
}

button,#btn{
    background-color: $minor-details;
    color: $color-white;
    border-radius: ($standard-distance*2);
    border: $disable;
    padding: $standard-distance $standard-distance;
    display: inline-block;
    text-decoration: $disable;
}