@import "_variables";
@import "_minixins";

*{
    font-family: $font-normal;
}

h1{
    font-size: $font-title-size;
    text-align: $font-title-align;
}

body{
    margin: 0;
    padding: 0;
    background-color: $background;
}

.card{
    border: $card-border;
    height: 100%;
}

.card-body{
    display: flex;
    height: 50%;
    flex-direction: column;
}

.card-text{
    flex-grow: 1;
}

.card img{
    height: $card-img-height;
    object-fit: cover;
}

button,#btn, .card a{
    background-color: $minor-details;
    color: $color-white;
    border-radius: 20px;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    
}